global
  maxconn 4096

defaults
  mode tcp
  timeout connect 2s
  timeout client 10m
  timeout server 10m
  option tcpka

frontend relay
  bind 0.0.0.0:4222
  tcp-request inspect-delay 75ms
  acl render_http_probe req.payload(0,4) -m str HEAD
  acl render_http_probe req.payload(0,3) -m str GET
  tcp-request content accept if render_http_probe
  tcp-request content accept if WAIT_END
  use_backend monitoring if render_http_probe
  default_backend nats

backend monitoring
  server monitoring "127.0.0.1:${PORT}"

backend nats
  server nats 127.0.0.1:4223
